In [7]:
import pyspark
import pandas as pd 
from pyspark.sql import SparkSession

In [9]:
pd.read_csv('pynames.csv')

  name;age;experience;salary
0         oumaima;30;5;10000
1           samaha;22;2;4000
2            hello;20;2;3000
3            imane;22;1;2500
4          mouna;44;10;20000
5           kawtar;20;1;2500

In [10]:
spark = SparkSession.builder.appName('test').getOrCreate()

In [11]:
# read dataset 
training = spark.read.csv('pynames.csv',header=True,inferSchema=True)

In [12]:
training.show()

+-------+------------+----------+
|   name| departement|experience|
+-------+------------+----------+
| samaha|         IOT|      1000|
|  imane|    Big data|      2000|
|   adam|data science|         8|
|mohamed|         IOT|      9000|
|  ahmed|    Big data|      4000|
|   adam|data science|      5679|
|   null|        null|         6|
|   null|          37|      null|
+-------+------------+----------+